body {
	background-color: lightgray;
	margin: 0px;
	padding: 0px;
}
#conteneur_grid {
	display: grid;
	grid-template-columns: 5vw 90vw 5vw;
	grid-template-rows: 20vh 60vh 20vh;
	justify-items: center;
	grid-template-areas:
		".label_son."
		".label_cases."
		".label_auteur.";
}
#conteneur_flex {
	justify-items: center;
	grid-area: label_cases;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}
#json {
	grid-area: label_son;
	align-self: start;
	border: 1px gray solid;
	border-radius: 4px;
	margin: 5px;
	padding: 5px 15px 5px 15px;
}
#json a {
	color: grey;
	text-decoration: none;
}

#signature {
	grid-area: label_auteur;
	color: grey;
	font-size: small;
	align-self: end;
	padding: 5px;
}

.f_item {
	border: 1px gray solid;
	border-radius: 4px;
	width: 15%;
	min-width: 150px;
	margin: 10px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
}

.f_item a img {
	height: 100%;
	width: 100%;
}

.info_bulle {
	position: relative;
}
.info_bulle .ib_text {
	visibility: hidden;
	width: 80%;
	background-color: lightgray;
	color: black;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;
}
.info_bulle:hover .ib_text {
	visibility: visible;
	opacity: 1;
	max-width: ;
}
